/* estilos.css - Estilos base para Dulce Sabor */

/*Aplicando reglas universales*/
*{
    margin: 200;
    padding: 20;
    box-sizing: border-box;
}

/*Estilos generales del sitio*/
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(242, 229, 249);
    color: black;
}

/*Definir el estilo del encabezado*/
header{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #f4d3c2;
    padding: 20px;
    text-align: center;
}


/*Estilo del navegador*/
nav {
    display: flex;
    justify-content: center;
    gap: 30px; /* 👈 separación entre enlaces */
    padding: 10px;
}
nav a {
    color: rgb(197, 168, 239);
    text-decoration: underline;
    font-weight: bold;
}
nav a:hover {
    color: #b5651d;
}


/*Estilo de pie de pagina*/
footer{
    background-color: #f4d3c2;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}





